.header
{
  text-align: center;  
  background-color: cyan;
  font-style: italic;
  margin-top: 0%;
  margin-bottom: 1%;
}

.search
{
  background-color: black;
  color: beige;
  text-align: center;
  margin-bottom: 0%;
}

.weather
{
  background-color: blue;
  text-align: center;
  margin-top: 0%;
  color: beige;
}